body {
    margin: 0px;
    padding: 0px;
    background-color: #141529;
    position: relative;
}

.fixed-img{
    position: fixed;
    right: 0px;
    top: 40px;
    z-index: 100;
}

.date-section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 40px;
    background-color: rgb(40, 50, 60);
}

.date-section span {
    color: white;
    font-size: 15px;
}

.date-section div {
    position: absolute;
    right: 10px;
    border-radius: 50%;
    background-color: rgb(70, 80, 90);
}

.stock-info {
    padding: 25px 40px;
    box-sizing: border-box;
}

.stock-info p {
    background-color: rgb(40, 50, 60);
    border-radius: 14px;
    color: white;
    display: inline-block;
    padding: 3px 10px;
    box-sizing: border-box;
}

.stock-info h2{
    color: white;
    font-size: 24px;
}
.stock-info span {
    color: white;
}

.banner-area {
    position: relative;
}

.banner-area article div {
    background-image: url(./assets/tab-bg.png);
    width: 274px;
    height: 145px;
    background-size: cover;
    margin: 0px 8px;
    display: inline-block;
    vertical-align: top;
}

.activeDiv{
    background-image: url(./assets/tab-bg-active.png)!important;
}

.banner-area article div a {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.disabled {
    pointer-events: none;
}

.banner-area article {
    position: absolute;
    bottom: -75px;
    display: block;
    width: 90%;
    left: 0px;
    right: 0px;
    margin: auto;
    z-index: 10;
    overflow-x: scroll;
    white-space: nowrap;
}

.banner-area article div span {
    color: rgba(255, 255, 255, 0.4);
    font-size: 15px;
    display: flex;
    align-items: center;
}

.banner-area article div span img {
    margin-right: 5px;
}

.banner-area article div p {
    color: rgba(255, 255, 255, 0.4);
    font-size: 25px;
}

.weeks-info {
    min-height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.weeks-info h4 {
    color: white;
    text-align: center;
    font-size: 20px;
}

.weeks-info article {
    width: 90%;
    max-width: 700px;
    min-height: 40px;
    display: flex;
    background-color: rgb(25, 40, 60);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: absolute;
    bottom: 0px;
}

.weeks-info article div {
    width: 25%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activeWeek {
    background-color: #2E9EA1;
}

.weeks-info article div span {
    color: white;
    font-size: 15px;
}

.leaderBord {
    background-color: rgb(25, 40, 60);
    position: relative;
    padding-top: 40px;
}

.leaderBord .catch-Xes{
    width: 60%;
    margin: auto;
    background-color: rgb(30, 50, 70);
    border-radius: 10px;
    display: flex;
}

.leaderBord .catch-Xes #left{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderBord .catch-Xes #right{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.leaderBord .catch-Xes #right h2{
    color: white;
    font-size: 18px;
    margin: 0px;
}

.leaderBord .catch-Xes #right p{
    color: white;
    font-size: 14px;
    margin: 0px;
}

.leaderBord .leaderBord-article {
    width: 90%;
    margin: auto;
    padding-top: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.leaderBord .leaderBord-article aside {
    width: 48%;
}

.leaderBord .leaderBord-article .tables {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.leaderBord .leaderBord-article .spin-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.leaderBord .leaderBord-article .spin-info h3 {
    color: white;
    text-align: center;
    font-size: 18px;
}

.leaderBord .leaderBord-article .spin-info h5 {
    color: white;
    text-align: center;
    font-size: 14px;
}

.leaderBord .leaderBord-article aside article {
    background-color: rgb(30, 50, 70);
    border-radius: 15px;
    padding-bottom: 35px;
}

.leaderBord .leaderBord-article .left #total-prize div{
    background-color: rgb(35, 125, 125);
    display: inline-block;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.leaderBord .leaderBord-article .left #total-prize p {
    background-color: rgb(45, 155, 160);
    display: inline-block;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0px;
    padding: 2px 10px;
}

.leaderBord .leaderBord-article .left #total-prize span {
    background-color: rgb(35, 125, 125);
    border-bottom-right-radius: 15px;
    padding: 2px 10px;
    ;
}


.leaderBord .leaderBord-article #total-prize{
    position: relative;
}

.leaderBord .leaderBord-article #total-prize img{
    position: absolute;
    right: 0px;
}

.leaderBord .leaderBord-article #total-prize #example-info{
    position: absolute;
    right: -20px;
    top: 40px;
    background-color: white!important;
    border-radius: 8px;
    display: none!important;
}


.leaderBord .leaderBord-article aside .place-prize {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.leaderBord .leaderBord-article aside .place-prize h6 {
    width: 30%;
    text-align: center;
    color: rgb(80, 90, 100);
    font-size: 13px;
    margin-bottom: 10px;
}

.leaderBord .leaderBord-article aside .place-prize p {
    width: 70%;
    text-align: center;
    color: rgb(80, 90, 100);
    font-size: 13px;
    margin-bottom: 10px;
}

.leaderBord .leaderBord-article aside table {
    width: 80%;
    margin: auto;
}

.leaderBord .leaderBord-article aside table tr {
    display: flex;
    justify-content: space-between;
    min-height: 35px;
    margin: 3px 0px;
}

.leaderBord .leaderBord-article aside table tr .place {
    width: 29.5%;
    color: white;
    font-size: 13px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    background-color: rgb(25, 35, 50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaderBord .leaderBord-article aside table tr .prize {
    width: 69.5%;
    color: white;
    font-size: 14px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: rgb(25, 35, 50);
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaderBord .leaderBord-article .right #total-prize div{
    background-color: #D2770E;
    display: inline-block;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
}

.leaderBord .leaderBord-article .right #total-prize p {
    background-color: #F19020;
    display: inline-block;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin: 0px;
    padding: 2px 10px;
}

.leaderBord .leaderBord-article .right #total-prize span {
    background-color: #D2770E;
    border-bottom-right-radius: 15px;
    padding: 2px 10px;
    ;
}

.leaderBord .leaderBord-article .prize-info {
    max-width: 800px;
    margin: 30px auto;
}

.leaderBord .leaderBord-article .prize-info p {
    color: rgba(255, 255, 255, 0.6);
    font-size: 13px;
    text-align: center;
}

.leaderBord .plus {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    z-index: 10;
}

.slots{
    width: 90%;
    margin: auto;
    padding: 80px 0px;
    box-sizing: border-box;
}

.slots h3{
    color: white;
    font-size: 24px;
}
.slots p{
    color: white;
    font-size: 13px;
}

.slots .carousel {
    display: block;
    width: 100%;
    overflow-x: scroll;
    margin: 0px;
    white-space: nowrap;
    padding: 20px 0px;
}

.slots .carousel .images{
    width: 192px;
    height: 224px;
    margin: 0px 10px;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    cursor: pointer;
}

.slots .carousel .images:first-child{
    margin-left: 0px;
}

.slots .carousel .images:last-child{
    margin-right: 0px;
}

.slots .carousel .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rules{
    width: 90%;
    margin: auto;
    padding-bottom: 30px;
}

.rules h2{
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}

.rules .terms{
    margin-bottom: 10px;
}

.rules .terms a{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 20px 20px;
    justify-content: space-between;
    background-color: rgb(40, 50, 60);
    border-radius: 10px;
    text-decoration: none;
    cursor: pointer;
}

.rules .terms a p{
    color: white;
    margin: 0px;
    font-size: 15px;
}

.rules .terms a img{
    width: 25px;
    height: 25px;
    transform: rotate(-90deg);
}

.rules .terms .hidden-text{
    display: none;
    margin-top: 20px;
    color: white;
}

.active-text{
    display: block!important;
}

.active-rotate{
    transform: rotate(90deg)!important;
}

.pages{
    padding: 20px 0px;
    position: relative;
}

.pages .border-image{
    position: absolute;
    top: 0px;
    width: 100%;
    height: 5px;
}

.pages article{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.pages article #left{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
}

.pages article #left img{
    width: 25px;
    margin-right: 10px;
}

.pages article #right{
    color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 13px;
    text-align: end;
}

.pages article #right img{
    width: 25px;
    margin-left: 10px;
    transform: rotate(180deg);
}

.pages article .btn{
    min-width: 170px;
    height: 48px;
    background-color: #F05A22;
    border: none;
}